/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-padding-l {
  padding-left: 10px;
}

/* body */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.webapp-container {
  height: 100vh;
  width: 100%;
  background-color: white;
}

/* main */

main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 90px);
  overflow: hidden;
}

/* zona main sinistra */

.main-nav {
  width: 280px;
  height: 100%;
  background-color: #070707;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* nav superiore */

.main-nav-top {
  background-color: red;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav-logo {
  background-color: yellow;
}
.nav-logo img {
  height: 50px;
}

.nav-menu {
  background-color: lightgreen;
}
.nav-menu ul li:first-child {
  border-left: 2px solid #1CD964;
}
.nav-menu ul li a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}
.nav-menu ul li a img {
  height: 25px;
  margin-right: 2px;
}


/* nav centrale playlist */

.main-nav-playlist {
  background-color: green;
  width: 100%;
  flex-grow: 2;
}

/* nav inferiore profilo */

.main-nav-bot {
  background-color: pink;
  width: 100%;
}

/* zona main destra */

.main-content {
  background-color: #121212;
  height: 100%;
  width: calc(100% - 280px);
  overflow-y: scroll;
}

/* footer */

footer {
  width: 100%;
  height: 90px;
  background-color: #282828;
}
