/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-padding-l {
  padding-left: 20px;
}

.title-padding-t {
  padding-top: 20px;
}

h2 {
  color: #FFF;
  margin-top: 10px;
}

/* body */

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.webapp-container {
  height: 100vh;
  width: 100%;
}

/* main */

main {
  height: calc(100% - 90px);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

/* zona main sinistra */

.main-nav {
  height: 100%;
  width: 260px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #070707;
}
.main-nav a {
  text-decoration: none;
}
.main-nav ul li {
  list-style: none;
}

/* nav superiore */

.main-nav-top {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main-nav-top ul li {
  margin-top: 5px;
}

/* logo nav top */

.display-lg-md-s {
  height: 50px;
  margin-top: 12px;
}

.display-xs {
  display: none;
}

/* menu nav top */

.nav-menu {
  padding-top: 20px;
}

.nav-menu ul li {
  padding-top: 10px;
}

.nav-menu ul li:first-child {
  border-left: 2px solid #1CD964;
}
.nav-menu ul li a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #A3A3A3;
}
.nav-menu ul li a:hover {
  color: #fff;
}
.nav-menu ul li a img {
  height: 25px;
  margin-right: 2px;
  opacity: 0.6;
}
.nav-menu ul li a:hover img {
  opacity: 1;
}
.nav-menu .nav-selected-img a img {
  opacity: 1;
}
.nav-menu .nav-selected-img a {
  color: #FFF;
}

/* nav centrale playlist */

.main-nav-playlist-title h4 {
  margin-top: 20px;
  text-transform: uppercase;
  color: #FFF;
}
.new-playlist-btn-container {
  margin-top: 10px;
}
.new-playlist-btn-container a {
  text-transform: capitalize;
  color: #A3A3A3;
}
.new-playlist-btn-container a:hover {
  color: #FFF;
}
.new-playlist-btn-container a:hover i {
  background-color: #FFF;
}
.new-playlist-btn-container i {
  padding: 10px 11px;
  font-size: 20px;
  color: #070707;
  background-color: #A3A3A3;
}

/* - */

.main-nav-playlist {
  width: 100%;
  min-height: 100px;
  flex-grow: 2;
  overflow-y: auto;
}
.main-nav-playlist li {
  margin-top: 20px;
}
.main-nav-playlist ul li a {
  color: #A3A3A3;
}
.main-nav-playlist ul li a:hover {
  color: #FFF;
}

/* nav inferiore profilo */

.main-nav-bot {
  width: 100%;
  padding-left: 15px;
}
.main-nav-bot img {
  height: 20px;
  margin-right: 10px;
}

/* nav inferiore installa app */

.download-app-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #A3A3A3;
}
.download-app-nav a {
  color: #A3A3A3;
}
.download-app-nav a:hover {
  color: #FFF;
}
/* nav inferiore zona profilo */

.profile-nav-bot {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0 5px;
}
.profile-nav-bot a {
  color: #A3A3A3;
}
.profile-nav-bot a:hover {
  color: #FFF;
}
.profile-nav-bot a img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: grey;
}

/* zona main destra */
/* nav upgrade */

.upgrade-nav {
  height: 70px;
  width: calc(100% - 260px);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.upgrade-nav a {
  margin-right: 20px;
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
.upgrade-nav a:hover {
  padding: 15px 35px;
  border-radius: 40px;
  font-size: 16px;
}

/* zona contenuto */

.main-content {
  height: 100%;
  width: calc(100% - 260px);
  padding: 90px 20px 0 20px;
  overflow-y: scroll;
  background-color: #121212;
}
.main-content p {
  padding-top: 5px;
  color: #A3A3A3;
}

/* nav contenuto principale */

.main-content-nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main-content-nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}
.main-content-nav ul li a {
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #A3A3A3;
}
.main-content-nav ul li a:hover {
  color: #FFF;
}

.active-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.select-border {
  width: 30px;
  height: 3px;
  background-color: #1CD964;
}

/* sezione riprodotti recentemente */

.recently-played {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.img-title-track {
  flex-basis: calc(100% / 6);
  margin-top: 20px;
  padding-right: 20px;
}
.img-title-track img {
  width: 100%;
}


.layover {
  position:absolute;
  background-color: red;
  width: 100%;
  height: 100%;
}


.itt-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #A3A3A3;
}
.itt-link h3 {
  margin-top: 10px;
  font-size: 16px;
  color: #FFF;
}
.itt-link p {
  margin-top: 5px;
  font-size: 12px;
}

.itt-long-text {
  text-align: center;
}

/* sezione dedicata ascolto utente */

.for-you {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* sezione artisti popolari */

.popular-artists {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.border-circle {
  border-radius: 50%;
}

/* footer */

footer {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  background-color: #282828;
}

/* footer sinistra */

.footer-song-info {
  width: 270px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.footer-song-info img {
  height: 50px;
  margin-right: 10px;
}
.footer-song-info a {
  margin-right: 8px;
  text-decoration: none;
  color: #A3A3A3;
}
.footer-song-info > a {
  margin-right: 8px;
}
.footer-song-info > a:hover {
  color: #FFF;
}

.footer-song-artist a {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-right: 30px;
}
.footer-song-artist a:hover {
  text-decoration: underline;
}

.footer-song-artist a.artist-name {
  color: #fff;
}

/* footer centrale */

.footer-player {
  width: 600px;
  height: 100%;
}

.footer-player-btns {
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.footer-player-btns a {
  margin: 0 10px;
  color: #fff;
}

.play-btn {
  font-size: 30px;
}
.play-btn:hover {
  font-size: 35px;
}

.footer-player-bar {
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.player-bar {
  width: 70%;
  height: 4px;
  display: flex;
  border-radius: 20px;
  background-color: #888888;
}

.player-bar-progress {
  width: 30%;
  height: 100%;
  position: relative;
  border-radius: 20px;
  background-color: #FFF;
  text-align: right;
}
.player-bar:hover .player-bar-progress {
  background-color: #1CD964;
}

.player-bar-progress i {
  display: none;
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  color: #FFF;
}
.player-bar:hover i {
  display: inline-block;
}

.song-time {
  padding: 0 10px;
  font-size: 9px;
  color: #FFF;
}

/* footer right */

.footer-volume {
  width: 270px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.volume-bar {
  width: 120px;
  height: 4px;
  display: flex;
  margin-left: 15px;
  border-radius: 20px;
  background-color: #888888;
}

.volume-bar-progress {
  width: 100px;
  height: 4px;
  position: relative;
  border-radius: 20px;
  background-color: #FFF;
}
.volume-bar:hover .volume-bar-progress {
  background-color: #1CD964;
}
.volume-bar-progress i {
  display: none;
  position: absolute;
  left: 94px;
  bottom: -5px;
  color: #FFF;
}
.volume-bar-progress:hover i {
  display: inline-block;
}

.footer-volume a {
  margin-left: 15px;
  color: #FFF;
}

/* media query */

@media all and (min-width: 768px) and (max-width: 1024px) {

  .recently-played {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .img-title-track {
    flex-basis: calc(100% / 4);
  }
}

@media all and (min-width: 670px) and (max-width: 768px) {

  .recently-played {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .img-title-track {
    flex-basis: calc(100% / 2);
  }
}

@media all and (max-width: 670px) {

  .xs-display-none {
    display: none;
  }

  .display-xs {
    width: 35px;
    display: inline-block;
  }

  .display-lg-md-s {
    display: none;
  }

  .main-nav {
    width: 60px;
  }
  .main-nav ul {
    align-items: flex-start;
  }

  .main-nav-bot img {
    height: 25px;
    margin: 0;
  }

  .nav-logo {
    width: 60px;
    height: 70px;
    display: flex;
    justify-content: center;
  }

  .nav-logo a {
    display: flex;
    align-items: center;
  }

  .main-content {
    width: calc(100% - 60px);
  }

  .upgrade-nav {
    width: calc(100% - 60px);
  }

  .recently-played {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .img-title-track {
    flex-basis: calc(100% / 2);
  }
}
