/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-padding-l {
  padding-left: 20px;
}

/* body */

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.webapp-container {
  height: 100vh;
  width: 100%;
  background-color: white;
}

/* main */

main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 90px);
  overflow: hidden;
}

/* zona main sinistra */

.main-nav {
  width: 280px;
  height: 100%;
  background-color: #070707;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-nav a {
  text-decoration: none;
}
.main-nav ul li {
  list-style: none;
}

/* nav superiore */

.main-nav-top {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main-nav-top ul li {
  margin-top: 5px;
}

/* logo nav top */

.nav-logo img {
  height: 50px;
  margin-top: 12px;
}

/* menu nav top */

.nav-menu {
  margin-top: 20px;
}

.nav-menu ul li {
  margin-top: 10px;
}

.nav-menu ul li:first-child {
  border-left: 2px solid #1CD964;
}
.nav-menu ul li a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #A3A3A3;
}
.nav-menu ul li a img {
  height: 25px;
  margin-right: 2px;
  opacity: 0.6;
}
.nav-menu ul li a img:first-child {
  opacity: 1;
}

/* nav centrale playlist */

.main-nav-playlist-title h4 {
  text-transform: uppercase;
  color: #FFF;
  margin-top: 20px;
}
.new-playlist-btn-container {
  margin-top: 10px;
}
.new-playlist-btn-container a {
  text-transform: capitalize;
  color: #A3A3A3;
}
.new-playlist-btn-container i {
  background-color: #A3A3A3;
  font-size: 20px;
  padding: 10px 11px;
  color: #070707;
}

/* - */

.main-nav-playlist {
  width: 100%;
  flex-grow: 2;
  min-height: 100px;
  overflow-y: auto;
}
.main-nav-playlist li {
  margin-top: 20px;
}
.main-nav-playlist ul li a {
  color: #A3A3A3;
}

/* nav inferiore profilo */

.main-nav-bot {
  width: 100%;
  padding-left: 15px;
}
.main-nav-bot img {
  height: 20px;
  margin-right: 10px;
}

/* nav inferiore installa app */

.download-app-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #A3A3A3;
  margin-right: 15px;
  padding-bottom: 10px;
}
.download-app-nav a {
  color: #A3A3A3;
}
/* nav inferiore zona profilo */

.profile-nav-bot {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0 5px;
}
.profile-nav-bot a {
  color: #A3A3A3;
}
.profile-nav-bot a img {
  background: grey;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

/* zona main destra */

.main-content {
  background-color: #121212;
  height: 100%;
  width: calc(100% - 280px);
  overflow-y: scroll;
  padding-top: 70px;
}

/* nav upgrade */

.upgrade-nav {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: calc(100% - 280px);
  background-color: rgba(0, 0, 0, 0.5);
  height: 70px;
}
.upgrade-nav a {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 20px;
}


/* footer */

footer {
  width: 100%;
  height: 90px;
  background-color: #282828;
}
